/**
 * STRING_COMPETITION STRING_YEAR - STRING_TRADE - STRING_TITLE
 * HTMLCSS - Task 1 - CSS Selectors
 *
 * Your task is to expand all CSS Selectors marked with @todo.
 * You are not allowed to add additional Selectors.
 */

#task-0 #snowboarder {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-1 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-2 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-3 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-4 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-5 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-6 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-7 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-8 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-9 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}

#task-10 {
  text-shadow: 0 0 10px #fff, 0 0 20px #7bedf9, 0 0 40px #7bedf9,
    0 0 50px #7bedf9, 0 0 60px #7bedf9, 0 0 100px #7bedf9;
}
